{% extends 'degree/common.html' %}

{% block common %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digital Degree</title>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
  </head>
  <body>

    <header>
      <h1>Certificati di Formazione su Blockchain per Migranti</h1>
    </header>
    <div class="container">
      <p>La nostra startup si occupa di formazione e lavoro per migranti. Utilizziamo la tecnologia blockchain per creare certificati di formazione che garantiscono l'autenticità e la prova di esistenza dei documenti.</p>
      <h2>Come funziona</h2>
      <p>Il processo è semplice:</p>
      <ol>
        <li>Il migrante partecipa a un corso di formazione riconosciuto</li>
        <li>Il provider del corso emette un certificato di formazione su blockchain</li>
        <li>Il certificato viene registrato sulla blockchain, garantendo la sua autenticità e la prova di esistenza</li>
        <li>Il migrante può presentare il certificato ai datori di lavoro o a qualsiasi altra entità che ne abbia bisogno, dimostrando le proprie competenze e qualifiche</li>
      </ol>
      <h2>Perché sceglierci</h2>
      <ul>
        <li>Garantiamo l'autenticità e la prova di esistenza dei certificati</li>
        <li>Facilitiamo l'accesso a opportunità di lavoro e formazione per i migranti</li>
        <li>Collaboriamo con provider di formazione riconosciuti a livello internazionale</li>
      </ul>
      <h2>Come utilizzare la nostra piattaforma</h2>
      <ul>
        <li>Per accedere ai servizi di ricerca di un certificato occore prima registrarsi</li>
        <li>accedendo con le proprie credenziali si è in grado di immettere il codice univoco del certificato, si potranno poi visionare tutte le informazioni relative al soggetto e l'identificativo della transazione</li>
      </ul>


  </body>
</html>      

{% endblock %}      
