{% extends 'degree/common.html' %}

{% block common %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <title>Login</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% if error %}
          <p>{{ error }}</p>
        {% endif %}
        {% if warning %}
          <div class="warning">{{ warning }}</div>
        {% endif %}

        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Log in">
      </form>
</body>
</html>
{% endblock %}  